img { border: 1px solid #e0e0e0; width: 350px;}

body {
	font: 1em Verdana, sans-serif;
	color: #333333;
	background: #60757C;
	border: 0;
	margin: 0;
}

.small {
	font-size: 75%;
}

.emph{
	color: #f60;
	font-weight: bold;
}

#header {
	margin:0;
	/*background: white url('images/shredder.png') repeat right top;*/
	background: white;
}

#header h1{
	margin:0;
	padding: 10px;
	color: #444444;
}

#menu {
	border-top: 2px solid #1C2A57;
	border-bottom: 2px solid #1C2A57;
	background: #8794C9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 110%;
}

#menu a { display: inline; padding: 0 .25em; color: #1C2A57; text-decoration: none; }
#menu a:hover { color: #fff;}
#menu a.active { font-weight: bold; color: #fff;}

#main{
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
	padding: 30px;
	background: white;
	border-right: 1px solid #1C2A57;
	border-left: 1px solid #1C2A57;
	min-height: 450px;
	/*
	max-height: 450px;
	overflow:auto;
	*/
}

#main h2 { color: #1C2A57; margin-top: 0.2em; padding-left: 0.6em; border-bottom: 1px solid #e0e0e0;}
#main h3 { margin-top: 0.2em; }

#main a { color: #1C2A57;  }
#main a:visited { color: #1C2A57;  }
#main a:hover, a:focus { color: #f60; }
#main a:active { color: #0b0bfb; }

#main ul{
	margin-top:0px;
	margin-left: 0px;
	padding-left: 30px;
	margin-bottom:10px;
	list-style-type: decimal;
	line-height: 1.5; 
}

#main li{
	margin-top: 10px;
}

#picture {
	float: right; 
	padding-left: 20px;
}

#footer{
	font-size: 80%;
	color: white;
	text-align: center;
	font-weight: bold;
	background: #8794C9;
	padding: 5px;
	padding-bottom: 30px;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
	border: 1px solid #1C2A57;
}


